.home__nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    width: 1600px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
    z-index: 1;
    &--alt {
        background: red
    }
    .logo {
        img {
            width: 160px;
            height: auto;
        }
    }
    .nav__list {
        display: flex;
        flex-direction: row;
        .nav__item {
            list-style-type: none;
            margin: 0 2rem;
            a {
                font-weight: 800;
                text-transform: uppercase;
                text-decoration: none;
                color: $white;
            }
        }
    }
}